html, body {
  height:100%;
}

p {
  font-family: Georgia, Arial, sans-serif;
  font-style: italic;
}

h1, h2, h3 {
  font-family: "Arial Black", Arial, sans-serif;
  text-transform: uppercase;
}

h2, h3 {
  font-size: 24px;
}

img.img-circle {
  width:140px;
  height:140px;

}

img.img-circle:hover {
  border:10px solid #64ebff;
  
}

.jumbotron {
  margin-top:80px;
  padding:70px 0;
}

.jumbotron h1 {
  font-size:58px;
}

.jumbotron p {
  font-size:43px;
}

.col-lg-4 {
  text-align: center;
}

.featurette h2 {
  font-size:38px;
  color:#4d4c4c;
  margin-bottom:40px;
}

.featurette .row {
  margin:20px 0;
}

#competences {
  border-top: 1px solid #eee;
  padding:70px 0;
}
#experiences {
  padding:70px 0;
}
#experiences .row {
  margin-left:40px;
}

#formations {
  padding:40px 0;
}

#formations img {
  margin:auto;
  width:300px;
  transition: transform 0.8s ease-in;
  -webkit-transition: -webkit-transform 0.8s ease-in; /* Safari and Chrome */
  -moz-transition: -moz-transform 0.8s ease-in; /* Safari and Chrome */
}

#formations img:hover {
  margin:auto;
  width:300px;
  -webkit-transform: scale(0.90);
  -moz-transform: scale(0.90);
  transform: scale(0.90);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
}

#formations h3 {
  font-family: Georgia, Arial, sans-serif;
  font-style: italic;
  text-transform: none;
}

footer {
  position:relative;
  width:100%;
  min-height:50px;
  background:#000;
  margin-bottom:0;
}

footer p {
  color:#FFF;
  line-height: 50px;
  margin:0 20px;
}

footer a {
  color:#64ebff;
}

footer a:hover {
  color:#FFF;
  text-decoration: none;
}
